@font-face {
    font-family: futuristic;
    src: local(Futuristic Armour);
  }

body
{
    background: rgb(26, 22, 48);
    color:gray;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* HEADER */
header
{
    display: block;
    padding: 20px;
    height: 30vw;
    /* background-color: black; */
    background-image: url("images/hero.jpg");
    background-size: 100%;
    background-position: center;
    padding: 0px;
    text-align: center;
    font-size:22px;
}
header nav
{
    background-color: rgba(53, 53, 53, 0.4);
    display:block;
    height: 140px; 
    box-shadow: rgba(53, 53, 53, 0.4) 0px 10px 10px;
}
/* header .logo a
{
    display:inline-block;
    height: 110px;
    text-indent: -99999px;
    position: relative;
    top: -55px;
    width: 300px;
} */
header .logo h1
{
    font-size: x-large;
    font-family: futuristic;
}
ul
{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
li
{
    display: inline-block;
    margin-left: 0px;
    padding: 20px;
    background-color:none;
}

li.navButton a:hover
{
    text-decoration:underline;
    box-shadow: rgba(255, 255, 255, 0.521) 0px 10px 10px
}
header a
{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
    margin-top: 40px;
}
/* FEATURES */
.features
{
    background: rgb(14, 1, 71);
    color: gray;
    padding:20px;
    display:flex;
    flex-direction:row;
}
.features figure
{
    margin:auto;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
}
.features figure img
{
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: gray 0px 0px 10px;
    width: 200px;
}
/* About Artisano */
section.aboutArtisano
{
    width:70%;
    margin: 0% 15%;
    /* background-color:rgb(255, 187, 0); */
    border:16px, solid, gray;
    border-radius:10px;
}
section.aboutArtisano h1
{
    text-align:center;
    font-size: 36px;
}
section.aboutArtisano p
{
    text-align:left;
    padding: 8px;
    font-size:24px;
}
/* FOOTER */
footer
{
    background: black;
    color: gray;
    font-size: 16px;
    text-align: center;
    padding:20px 20px;
}