main {
    text-align: center;
}
p.title {
    display: block;
    color:white;
    font-size:24;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat';
}
p {
    display: block;
    color: white;
    font-size: 12pt;
    font-family: 'Montserrat';
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}
a {
    color: white;
    font-size: 12pt;
    font-family: 'Montserrat';
    border-radius: 15%;
    border-color: white;
    border: 2px solid;
    padding: 4px;
}
img{
    display: block;
    min-width: 500px;
    max-width: 500px;
    height:auto;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: black;
}
div.next{
    display: inline-block;
    margin-left: 50%;
}