body
{
    background: rgb(0, 0, 0);
    color:gray;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif, 'Montserrat';
    margin: 0;
    padding: 0;
}

/* HEADER */
header
{
    display: block;
    padding: 20px;
    height: 30vw;
    /* background-color: black; */
    background-image: url("images/hero.jpg");
    background-size: 100%;
    background-position: center;
    padding: 0px;
    text-align: center;
    font-size:22px;
}
img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
header
{
    display: block;
    padding: 20px;
    height: 30vw;
    /* background-color: black; */
    background-image: url("images/hero.jpg");
    background-size: 100%;
    background-position: center;
    padding: 0px;
    text-align: center;
    font-size:22px;
}
header nav
{
    background-color: rgba(53, 53, 53, 0.4);
    display:block;
    height: 140px; 
    box-shadow: rgba(53, 53, 53, 0.4) 0px 10px 10px;
}
ul
{
    margin:0px;
    padding:0px;
    list-style-type: none;
}
li
{
    display: inline-block;
    margin-left: 0px;
    padding: 20px;
    background-color:none;
}

li.navButton a:hover
{
    text-decoration:underline;
    box-shadow: rgba(255, 255, 255, 0.521) 0px 10px 10px
}
header a
{
    color: white;
    text-decoration:none;
    text-transform: uppercase;
    margin-top: 40px;
}
/* About Artisano */
section.response
{
    width:70%;
    margin: 0% 15%;
    background-color:rgb(20, 0, 100);
    border:4px, solid, gray;
    border-radius:10px;
}
section.response h1
{
    text-align:center;
    font-size: 36px;
    color: white;
}
section.response p
{
    text-align:left;
    padding: 8px;
    font-size:24px;
    color: rgb(200, 200, 200);
}